@font-face {
  font-family: "PTSans";
  src: url("../../fonts/PTSans-Bold.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope-Medium.ttf");
}
.our_button, .features_button, .main_btn, .main_double_btn, .header_button {
  font-family: Inter, sans-serif;
  font-size: 16px;
  background: #7F56D9;
  border-radius: 20px;
  letter-spacing: -0.1px;
  padding: 8px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  align-items: center;
}

body {
  background: #EFF0F6;
}

.container {
  max-width: 1058px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: start;
}

.jc-between {
  justify-content: space-between;
}

.white {
  color: white;
}

.header {
  background: black;
  padding: 12px 20px;
  border-radius: 47px;
  margin-top: 15px;
}
.header_title {
  position: relative;
  font-family: PTSans, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.3px;
  padding-left: 40px;
  text-decoration: none;
  font-weight: 400;
}
.header_title:after {
  content: "";
  display: block;
  position: absolute;
  background: url(../../images/futureSphere.svg) no-repeat center;
  background-size: contain;
  width: 35px;
  height: 27px;
  top: 0;
  left: 0;
}
.header_list {
  font-size: 16px;
  margin-right: 10%;
  font-family: Manrore, sans-serif;
  font-weight: 400;
}
.header_list a,
.header_list a:hover,
.header_list a:active {
  text-decoration: none;
  color: white;
}
.main {
  text-align: center;
  margin-top: 64px;
}

.main h1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: -2.75px;
  height: auto;
  margin-bottom: 20px;
}

.main span {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: gray;
  margin-top: 16px;
  text-align: center;
  letter-spacing: -0.75px;
}

.main_btns {
  margin-top: 24px;
}

.main_btn {
  background: black;
  margin-right: 15px;
}

.main img {
  max-width: 100%;
  width: 1058px;
  height: auto;
  margin-top: 55px;
  border-radius: 200px;
  margin-bottom: 48px;
}

.main-block {
  width: 840px;
  height: auto;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  border: 1px solid #EFF0F7;
  border-radius: 16px;
  max-width: 90%;
  margin: 0 auto;
}

.block-number {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -3px;
  color: #7F56D9;
  margin: 0px;
}

.main-block span {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -1px;
  color: #7F56D9;
}

.main-line {
  position: relative;
  max-width: 100%;
}

.main-line:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  background: url("../../images/line.svg") no-repeat center;
  background-size: contain;
  width: 3px;
  height: 84px;
  padding-left: 370px;
}

.main-line:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  background: url("../../images/line.svg") no-repeat center;
  background-size: contain;
  width: 3px;
  height: 84px;
  margin-left: -59px;
}

.features {
  text-align: center;
  max-width: 100%;
}

.features-title {
  margin: 100px auto 20px auto;
  color: #7F56D9;
  background: #e9d8ff;
  border: 1px solid #EEE2FE;
  border-radius: 22px;
  box-sizing: border-box;
  width: 85px;
  height: 30px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 2px;
  text-align: center;
  letter-spacing: -0.75px;
}

.features h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -3px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.features span {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: gray;
  text-align: center;
  letter-spacing: -0.75px;
  margin: 0 auto;
}

.features-blocks {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  margin-top: 50px;
  width: 1058px;
  height: 422px;
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
}

.features-block h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #1B152B;
}

.features-block p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: gray;
  text-align: center;
  letter-spacing: -0.75px;
  margin: 0 auto;
  z-index: 1;
}

.features-block {
  position: relative;
  z-index: 1;
}

.features-block:before {
  display: block;
  position: absolute;
  content: "";
  background: url("../../images/blur-circule.svg") no-repeat center;
  top: -10px;
  left: 0;
  background-size: contain;
  width: 365px;
  height: 200px;
  z-index: -1;
  margin: 0 auto;
  max-width: 100%;
}

.line-features {
  position: relative;
}

.line-features:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../../images/line-features.svg") no-repeat center;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding-right: 570px;
  background-size: contain;
  width: 2px;
  height: 200px;
  max-width: 100%;
}

.clear_button {
  position: relative;
  background: none;
}

.clear_button:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../../images/arrow.png") no-repeat center;
  background-size: contain;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 95px;
  width: 24px;
  height: 24px;
  max-width: 100%;
}

.our_mission {
  background: white;
  max-width: 100%;
  border-radius: 32px;
  margin-top: 100px;
}

.our_blocks {
  display: flex;
  padding: 40px 20px;
}

.our_title {
  color: #7F56D9;
  background: #e9d8ff;
  border: 1px solid #EEE2FE;
  border-radius: 22px;
  box-sizing: border-box;
  width: 85px;
  height: 30px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 15px;
  text-align: center;
  letter-spacing: -0.75px;
}

.our_mission h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  letter-spacing: -1px;
  margin-top: 20px;
}

.our_mission p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: gray;
  text-align: left;
  letter-spacing: -0.75px;
}

.our_block_right {
  text-align: center;
}

.our_block_left {
  margin-top: 20px;
}

.our_button {
  margin-top: 38px;
}

.ex_button {
  background: white;
  color: #7F56D9;
  padding: 0 15px 0 0;
}

.our_block_right img {
  border-radius: 32px;
  max-width: 400px;
  height: auto;
}

.our_clients {
  margin-top: 100px;
  text-align: center;
}

.our_clients h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 20px;
}

.our_clients p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: gray;
  margin-top: 20px;
  text-align: center;
  letter-spacing: -0.75px;
}

.client_block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.client_block image {
  width: 300px;
}

.service {
  margin-top: 100px;
  background: white;
  max-width: 100%;
  border-radius: 32px;
  padding: 20px 10px;
}

.service span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.75px;
  color: #7F56D9;
}

.service h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #A05BF8;
}

.service p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -1px;
  color: #7A7D9C;
}

.service_blocks {
  display: flex;
  padding: 36px 0px 0 20px;
}

.service_block_right {
  padding-left: 60px;
}

.service_block_right img {
  border-radius: 32px;
}

.service_block_left {
  margin-top: 20px;
}

.service_button {
  max-width: 100%;
  width: 55px;
  height: 55px;
  background: #7F56D9;
  text-align: center;
  border-radius: 999px;
  border: none;
}

.service_white_button {
  margin-right: 10px;
  background: white;
  max-width: 100%;
  width: 55px;
  height: 55px;
  border: 1px solid #7F56D9;
  border-radius: 999px;
  text-align: center;
}

.service_buttons {
  padding-top: 25px;
  text-align: right;
}

.testimonials_bloks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding: 66px 40px 40px 40px;
  border-radius: 32px;
}

.testimonials_left_block {
  max-width: 100%;
  height: auto;
  margin-right: 25px;
}

.testimonials_right_block {
  text-align: left;
}

.testimonials {
  margin-top: 100px;
  text-align: center;
}

.testimonials h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -4px;
  color: #1B152B;
}

.testimonials_right_block p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.96px;
  color: #7A7D9C;
}

.testimonials_right_block span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  /* identical to box height */
  letter-spacing: -1px;
  color: #1B152B;
}

.small {
  font-size: 20px;
}

.medium {
  font-size: 24px;
}

.trusted {
  margin-top: 50px;
}

.trusted_line {
  max-width: 100%;
  height: auto;
}

.trusted_line span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7A7D9C;
}

.trusted_line img {
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 2px;
}

.trusted_icon {
  margin-top: 10px;
}

.trusted_icon img {
  margin-right: 68px;
}

.blogs {
  margin-top: 100px;
  text-align: center;
}

.blogs_blocks {
  display: flex;
  flex-direction: row;
}

.blog_block {
  margin-right: 30px;
  background: white;
  width: 332px;
  height: auto;
  border-radius: 16px;
  text-align: left;
}

.blogs h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -4px;
  color: #1B152B;
}

.blog_block {
  padding: 15px;
}

.blog_block span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.75px;
  background: #C7A0F9;
  border-radius: 47px;
  color: #FFFFFF;
  padding: 4px 8px;
}

.blog_content {
  padding: 0 15px;
}

.blog_read {
  text-align: right;
}

.blog_content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -1px;
  color: #8B857F;
}

.blog_content h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.75px;
  color: #272422;
}

.blog_read a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.75px;
  color: #8B857F;
}

.blog-buttons {
  margin-top: 30px;
}

/*# sourceMappingURL=index.css.map */
