.service{
  margin-top: 100px;
  background: white;
  max-width: 100%;
  border-radius:32px ;
  padding: 20px 10px;

}
.service span{
  font-family: 'Manrope',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.75px;
  color: #7F56D9;
}
.service h2{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #A05BF8;
}
.service p{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -1px;
  color: #7A7D9C;

}
.service_blocks{

    display: flex;
    padding: 36px 0px 0 20px;
  gap: 40px;


}

.service_block_left h2{
  margin-top: 20px;
}
.service_block_right{
  flex-basis: 50%;
  padding-right: 20px;
}
.service_block_right img{
  border-radius: 32px;
  width: 100%;
}

.service_block_left{
  margin-top: 20px;
  flex-basis: 50%;
}
.service_button {
  max-width: 100%;
  width: 55px;
  height: 55px;
  background: #7F56D9;
  text-align: center;
  border-radius: 999px;
  border: none;
}
.service_white_button{
  margin-right: 10px;
  background: white;
  max-width: 100%;
  width: 55px;
  height: 55px;
  border: 1px solid #7F56D9;
  border-radius: 999px;
  text-align: center;
}
.service_buttons{
  padding-top: 25px;
  text-align: right;

}


